@import "tailwindcss";

body {
	color: white;
}

/* Autofill fix for inputs and textareas */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus {
	-webkit-box-shadow: 0 0 0px 1000px rgba(0, 0, 0, 0.4) inset !important;
	box-shadow: 0 0 0px 1000px rgba(0, 0, 0, 0.4) inset !important;
	-webkit-text-fill-color: white !important;
	caret-color: white !important;
	transition: background-color 5000s ease-in-out 0s !important;
}
